<%= form_for @discussion, html: { multipart: true} do |form| %>
  <p>
    <%= form.text_field :name, placeholder: "Name of Discussion" %>
  </p>
  <p>
    <%= form.file_field :photo %>
  </p>
  <%= form.submit "Submit" %>
<% end %>
