<%= form_for @discussion, html: { multipart: true } do |form| %>
  <div>
    <%= form.text_field :name, placeholder: "Name of Discussion" %>
  </div>
  <div>
    <%= form.file_field :photo %>
  </div>
  <%= form.submit "Submit" %>
<% end %>
