<%= @discussion.name %>
<div id="comment-form">
  <%= form_for @comment do |form| %>
    <%= form.text_field :body, placeholder: "Enter your comment here" %>
    <%= form.submit "Comment" %>
  <% end %>
</div>
