<div id="discussion-video">
  <iframe width="560" height="315" src="http://www.youtube.com/embed/<%= video.youtube_embed_url %>?rel=0;3&amp;autohide=1&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
</div>