<div class="content">
  <div id="discussion-document">
    <iframe 
      src="http://docs.google.com/gview?url=<%= document.subject.url %>&embedded=true" 
      style="width:100%; height:500px;" 
      frameborder="0">
    </iframe>
  </div>
</div>
