<div id="dashboard-wrapper">
  <div id="my-discussions">
    <div>
      <h3>MY DISCUSSIONS</h3>
    </div>
    <h4>OPEN</h4>
    <div id="my-open-discussions">
      <%= render @open_discussions %>
    </div>
    <h4>CLOSED</h4>
    <div id="my-closed-discussions">
      <%= render @closed_discussions %>
    </div>
  </div>

  <div>
    <div id="other-discussions">
      <h3>MY TWO CENTS</h3>
      <h4>OPEN</h4>
      <div id="other-open-discussions">
        <%= render @open_collaborations %>
      </div>
      <h4>CLOSED</h4>
      <div id="other-closed-discussions">
        <%= render @closed_collaborations %>
      </div>
    </div>
  </div>
</div>
