<div id="new-discussion-button">
  <%= link_to "Add a New Discussion", new_discussion_path %>
</div>
<div id="my-discussions">
  <div class="open-content">
  </div>
  <div class="closed-content">
  </div>
</div>
<div id="other-discussions">
  <div class="open-content">
  </div>
  <div class="closed-content">
  </div>
</div>
