/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */
@import "bourbon";
@import "bitters/bitters";
@import "neat";
@import "new_discussion_form";
@import "dashboard";
@import "landing_page";

@import url(http://fonts.googleapis.com/css?family=Roboto);

body {
  margin: 0;
  padding: 0;
}

#username {
  font-family: 'Roboto', 'sans-serif';
  right:0px;
  padding: 10px;
  color:red;
  background-color: #FFF6E6;
}

#nav {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: block;
  overflow: hidden;
  height: 50px;
  background-color: #343434;
  vertical-align: initial;

  ul li {
    img {
      height: 35px;
    }

    a {
      float: left;
      font-weight: 200;
      color: orange;
      font-size: 22px;
      border-left: 1px solid orange;
      display: block;
      padding: 5px 10px;
      line-height: 40px;
      height: 50px;

      &:first-child {
        border-left: 0px;
      }

      &:last-child {
        border-right: 1px solid orange;
      }

      &:hover {
        color: white;
        background-color: orange;
      }
    }
  }
}

#content-wrapper {
  font-family: 'Roboto', 'sans-serif';
  display: block;
  float: left;
  width: 60%;
  height: 800px;
  padding: 5% 2.5% 5% 2.5%;
  border-right-style: solid;
  border-size: 1px;
  border-color: black;

  #discussion-audio {
    audio {
      display: block;
      width: 100%;
    }
  }
}

#comments-wrapper {
  font-family: 'Roboto', 'sans-serif';
  display: block;
  float: left;
  width: 40%;
  padding-left: 10px;
}

#comments {
  height: 400px;
  overflow: -moz-scrollbars-vertical;
  overflow: scroll;
  overflow-x: hidden;
  padding: 3px;
  margin-right: 20px;
}

.comment-author {
  font-weight: bold;
  font-family: 'Roboto', 'sans-serif';
}

.line-numbers {
  width: 15%;
}
