/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */
@import "bourbon";
@import "bitters/bitters";
@import "neat";
@import "new_discussion_form";

#username {
  right:0px;
  padding: 10px;
  color:red;
  background-color: #FFF6E6;
}

#nav {
  color: #f8f6f6;
  height: 40px;
  width:  100%;
  background-color: #343434;
  vertical-align: initial;

  a {
    font-size: 1.6em;
  }

  a:link {
    color: #f8f6f6;
    padding: 0px 50px;
  }

  a:visited {
    color: #f8f6f6;
  }

  a:hover {
    color: orange;
  }
}

#my-discussions {
  position:absolute;
  left:0px;
  width:50%;
  height:80%;
  padding: 10px;

  h3 {
    font-style: italic;
    color: OrangeRed;
  }
}

#other-discussions {
  position:absolute;
  right:0px;
  width:50%;
  height:80%;
  padding: 10px;
  border-left-style: solid;
  border-color: orange;
  border-size: 2px;

  h3 {
    font-style: italic;
    color: OrangeRed;
  }
}

#discussion-name {
  display: block;
  align: left;
  padding-top: 2.5%;
  padding-left: 2.5%;
}

#content-wrapper {
  display: block;
  float: left;
  width: 60%;
  padding: 5% 2.5% 5% 2.5%;
  border-right-style: solid;
  border-size: 1px;
  border-color: black;

  #discussion-audio {
    audio {
      display: block;
      width: 100%;
    }
  }
}

#comments-wrapper {
  display: block;
  float: left;
  width: 40%;
  padding: 5% 2.5% 5% 2.5%;
}

.comment-author {
  font-weight: bold;
}

.line-numbers {width: 5%;}
