<% if target.errors.full_messages.count > 0 %>
  <div>
    <h3 style="color:red;">Sign up was unsucessful for the following <%= target.errors.full_messages.count %> reasons: </h3>
    <% target.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </div>
<% end %>
